.recipe-page-wrapper {
  width: 100%;
  height: 100vh;
  background-image: url(/img/food3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vw;
}

.header {
  width: 100vw;
  height: 10vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  z-index: 10000;
  display: flex;
  align-items: center;
}

.footer {
  width: 100vw;
  height: 7vh;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: black;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer span {
  color: rgba(250, 235, 215, 0.705);
}

.header .back-button {
  margin-left: 20px;
}

.back-button svg {
  fill: rgba(250, 235, 215, 0.664);
  transform: rotate(270deg) translateX(-4px);
  width: 25px;
  transition: all 0.2s;
}

.back-button .text {
  color: rgba(250, 235, 215, 0.664);
  transition: all 0.2s;
}

.back-button {
  display: flex;
}

.back-button:hover svg {
  fill: antiquewhite;
  transition: all 0.2s;
}

.back-button:hover .text {
  color: antiquewhite;
  transition: all 0.2s;
}

.unbutton {
  /* background: none; */
  border: 0;
  padding: 0;
  margin: 0;
  font: inherit;
  fill: white;
  cursor: pointer;
  color: inherit;
  display: flex;
  align-items: center;
}

.unbutton:focus {
  outline: none;
}

.unbutton span:first-child {
  margin-right: 1rem;
}

.unbutton span:last-child {
  margin-left: 1rem;
}
